<!DOCTYPE html>
<html>
<head>
    <title>{{ WEBSITE_TITLE }}</title>
    <meta name="description" content="{{ WEBSITE_DESCRIPTION }}">
    <meta name="keywords" content="{{ WEBSITE_KEYWORDS }}">
    <link rel="stylesheet" type="text/css" href="/static/css/tn3270.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="terminal">
        <pre style="text-align: center">
You are connected to the
$$$$$$$\                                          $$\       $$\
$$  __$$\                                         $$ |      \__|
$$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$\  $$$$$$\  $$ |  $$\ $$\
$$$$$$$\ |$$  __$$\ $$  __$$\ $$  _____|$$  __$$\ $$ | $$  |$$ |
$$  __$$\ $$ |  \__|$$ /  $$ |\$$$$$$\  $$$$$$$$ |$$$$$$  / $$ |
$$ |  $$ |$$ |      $$ |  $$ | \____$$\ $$   ____|$$  _$$<  $$ |
$$$$$$$  |$$ |      \$$$$$$  |$$$$$$$  |\$$$$$$$\ $$ | \$$\ $$ |
\_______/ \__|       \______/ \_______/  \_______|\__|  \__|\__|


Mainframe System
        </pre>
        <div class="box-container">
            <div class="box">
                <h3 class="box-title">Blog Posts</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing  <br>
                        <span class="dark-blue">[Jan 05 2001]</span>
                    </li>
                    <li>Duis aute irure dolor in reprehenderit  <br>
                        <span class="dark-blue">[Jan 05 2001]</span>
                    </li>
                    <li>non proident, sunt in culpa qui officia deserunt  <br>
                        <span class="dark-blue">[Jan 05 2001]</span>
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                        <span class="dark-blue">[Jan 05 2001]</span>
                    </li>
                    <li>Duis aute irure dolor in reprehenderit <br>
                        <span class="dark-blue">[Jan 05 2001]</span>
                    </li>
                    <li>non proident, sunt in culpa qui officia deserunt <br>
                        <span class="dark-blue">[Jan 05 2001]</span>
                    </li>
                </ul>
                <a href="/blog" class="box-more-link">[ + More ]</a>
            </div>
            <div class="box">
                <h3 class="box-title">AS210660 Peering Status</h3>
                <pre class="peering-map">
[AS210660]
|
|
+---------+---------+
|         |         |
|         |         |
[AS6939]  [AS34872] [AS208210]
                </pre>
                <a href="/blog" class="box-more-link">[ + More ]</a>
            </div>
        </div>
        <div class="bottom-menu">
            <p><span class="red">&lt;F1&gt;</span> <span class="yellow">Home</span> | <span class="red">&lt;F2&gt;</span> <span class="yellow">Blog</span> | <span class="red">&lt;F3&gt;</span> <span class="yellow">Resume</span>  | <span class="red">&lt;F4&gt;</span> <span class="yellow">Github</span> | <span class="red">&lt;F5&gt;</span> <span class="yellow">Contact</span></p>
        </div>
    </div>
    <div class="cobol-text" onclick="window.location='https://github.com/Broseki/Broseki-Website'">[🦖 Written in COBOL]</div>
</body>
</html>